@model List<Order>
@{
    ViewData["Title"] = "ContactMessage";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Selling <span>| Today</span></h5>
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Address</th>
                          <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                       @foreach (var item in Model)
                       {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.PhoneNum
                                </td>
                                <td>
                                    @item.Address
                                </td>
                                <td>
                                    @item.OrderDate
                                </td>
                           </tr>
                       }
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->